<% provide(:title, t('clients.list')) %>

<%= render layout: 'layouts/breadcrumb', locals: {path: [{:title => t('clients.index.breadcrumb'), :href => clients_path}], icon: 'house-colored', index: true} do %>
  <div class="action-btns">
    <%= link_to new_client_path, class: 'btn btn-primary btn-sm' do %>
      <i class="fas fa-plus-circle fa-fw"></i><span class="d-none d-md-inline">&nbsp;<%= t('clients.new.add_button') %></span>
    <% end %>
  </div>
<% end %>

<div class="page-container">
  <div class="container">
    <div class="app-container">
      <%# Here we call render not on a string with the name of a partial, but rather on a user variable of class User;
          in this context, Rails automatically looks for a partial called _user.html.erb, which we must create.
          This is a definite improvement, but we can do even better: we can call render directly on the @users variable
          Here Rails infers that @users is a list of User objects; moreover, when called with a collection of users,
          Rails automatically iterates through them and renders each one with the _user.html.erb partial
          (inferring the name of the partial from the name of the class). %>
      <%#= render @users %>
      <%= react_component('ClientsListWithDatatable', props: {
          initial_payload: {
              dataset_wrapper: @personslist,
              results_per_page: @results_per_page,
              total_entries: @total_entries,
              current_page: @current_page,
              initial_search: @initial_search,
              initial_sorting: @initial_sorting,
              initial_ordering: @initial_ordering,
              object_type: 'clients'
          },
          i18n: {
              datatable: t('js.datatables.clients'),
              result_count: t('js.datatables.pagination.results'),
              no_results: t('js.datatables.clients.no_results'),
              search: t('js.datatables.clients.search_placeholder'),
          },
          meta: {
              is_admin: current_user.is_admin?(current_account),
              freeze_link:  toggle_activation_user_url('USERID')
          }
      }, prerender: false) %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>