<% provide(:title, t('clients.new.heading')) %>

<%= render partial: 'layouts/breadcrumb', locals: {path: [{:title => t('clients.index.breadcrumb'), :href => clients_path}, {:title => t('clients.new.heading_alt'), :href => ''}], icon: 'house-colored'} %>


<div class="page-container">
  <div class="container">
    <div class="app-container">
      <!-- .card -->
      <div class="card card-fluid">
        <h2 class="card-header"> <%= t('clients.new.profile') %> </h2>
        <!-- .card-body -->
        <div class="card-body">
          <div class="client-new-icon-container d-none d-lg-block">
            <i class="fas fa-user fa-8x"></i>
          </div>
          <!-- form -->
          <%= render 'accounts/clients/form' %>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div>
  </div>
</div>