<div class="center jumbotron pr-container">
  <h1><%= t 'main.heading' %></h1>

  <h2><%= t 'main.subheading' %></h2>

  <%#= link_to 'Sign up now!', new_account_path, class: 'btn btn-lg btn-primary' %>
</div>

<%= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://rubyonrails.org/' %>


