<div class="<%= local_assigns[:classes].nil? ? 'col-8 offset-2' : classes %>">
  <div class="form-group mb-4">
    <div class="form-label-group">
      <!-- Splits the options list string on empty space, comma, dot, semi-colon, single quote and double quote.
           Removes empty elements from the resulting array and finally iterates with map -->
      <%= f.select field.slug,
                   options_for_select(field.options.to_s.split(/[,.;:"']/).reject(&:empty?).map {|option| [option, option]},
                                      (f.object[field.slug] unless f.object.blank?)),
                   {prompt: t('cfields.choose')},
                   class: 'form-control custom-select',
                   'data-parsley-group': vgroup ? vgroup : nil,
                   'data-parsley-required': field.required ? "true" : "false",
                   'data-parsley-required-message': t("js.validator.required") %>
      <%= f.label field.slug, field.name %>
    </div>
  </div>
</div>