<div class="<%= local_assigns[:classes].nil? ? 'col-8 offset-2' : classes %>">
  <div class="form-group mb-4">
    <div class="form-label-group">
      <%= f.text_field field.slug,
                       class: 'form-control',
                       autocomplete: "off",
                       # placeholder: 'asdasd',
                       'data-parsley-group': local_assigns[:validation_group].nil? ? nil: validation_group,
                       'data-parsley-required': field.required ? "true" : "false",
                       'data-parsley-required-message': t("js.validator.required") %>
      <%= f.label field.slug, field.name %>
    </div>
  </div>
</div>