<% content_for(:nested_settings_header) do %>
  <%= t('sidebar.subscription') %>
<% end %>

<% content_for(:subscriptions) do %>
  <div class="col-12">
    <h1>Συνδρομή (show)</h1>
  </div>
<% end %>
