<div class="page-container">
  <div class="container">
    <div class="card card-fluid">
      <h2 class="card-header"> <%= t('cfields.title') %>
        <span class="property-cover-tooltip" data-toggle="tooltip" data-placement="top" title="<%= t('cfields.tooltip') %>">
          <i class="fas fa-info-circle"></i>
        </span>
      </h2>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>