<div class="page-container">
  <div class="container">
    <!-- .card -->
    <div class="card card-fluid">
      <h2 class="card-header"> <%= t('cfields.title') %> </h2>
      <!-- .card-body -->
      <div class="card-body">

        <%= render 'form' %>
      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div>
</div>