<div class="page-container">
  <div class="container">
    <div class="app-container">

    <div class="card card-fluid">
      <%= render partial: 'shared/card_header/header', locals: {title: t('cfields.title'), btn_text: t('properties.show.back'), btn_link: settings_path} %>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
    </div>

  </div>
</div>