<div class="d-flex flex-column">
  <div class="bd-highlight ">
    <div class="breadcrumb-container">
      <div class="breadcrumb-wrapper">
        <ul class="breadcrumb-custom align-items-center">
          <li><a href="/"><i class="fas fa-home"> </i></a></li>
          <li class="active"><span><%= t title %></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

