<div class="d-flex flex-column">
  <div class="bd-highlight ">
    <div class="breadcrumb-container">
      <div class="breadcrumb-wrapper">
        <ul class="breadcrumb-custom align-items-center">
          <li><a href="/"><i class="fas fa-home"> </i></a></li>
          <% path.each do |entry| %>
            <% if entry == path.last %>
              <li class="active"><span><strong> <%= entry[:title] %></strong></span></li>
            <% else %>
              <li><a href="<%= entry[:href] %>"><%= entry[:title] %></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

