<div class="d-flex flex-column">
  <div class="bd-highlight ">
    <div class="breadcrumb-container">
      <div class="breadcrumb-wrapper">
        <ul class="breadcrumb-custom align-items-center">
          <h1><%= path %></h1>
          <%= path_printer(path, icon) %>
        </ul>
      </div>
    </div>
  </div>
</div>

