<div class='pr-inline-form-error-container'>
<!--  <span class='pr-inline-form-error'><%#= formatted_attribute %> <%#= error %>.</span>-->
  <span class='pr-inline-form-error'><%= error %>.</span>
</div>