<% provide(:title, t('accounts.switch')) %>

<% content_for :heading do %>
  <p> <%= t('accounts.switch') %></p>
<% end %>


<!-- .Content section -->
<% content_for :content do %>
  <div class="auth-form auth-form-special centered-title">
    <i class="pr-icon md account-switch"></i>
    <div class="vertical-spacer"></div>
    <h2><%= t('accounts.switch_heading') %></h2>
    <div class="vertical-spacer"></div>

    <ul class="accounts">
      <% @accounts.each do |account| %>
        <li>
          <%#= link_to root_url(subdomain: account.subdomain) do %>
          <%= link_to account_switch_url(subdomain: account.subdomain) do %>
            <%= account.subdomain %>
          <% end %>
          <% if account.owner == current_user %>
            <span class="label">Account Owner</span>
          <% else %>
            <span class="label">Regular User</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>




