<div class="center jumbotron pr-container">
  <h1>Dashboard members page</h1>
  <h2>
    This page should include dashboard statistics and graphs.
  </h2>
  <!--<%= link_to 'Sign up now!', new_account_path, class: 'btn btn-lg btn-primary' %>-->
</div>

<%= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://rubyonrails.org/' %>


