<div class="center jumbotron pr-container">
  <h1>Landia External Marketing page</h1>
  <h2>
    This page should advertise the product.
  </h2>
  <%= link_to 'Sign up now!', new_account_path, class: 'btn btn-lg btn-primary' %>
  <%= link_to 'Login!', login_path, class: 'btn btn-lg btn-primary' %>

  <%#= link_to 'Sign up now!', new_account_path, class: 'btn btn-lg btn-primary' %>
</div>

<%#= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://rubyonrails.org/' %>


