<div class="card-header card-header-custom">
  <div class="row align-items-center">
    <div class="col-lg-2 d-none d-lg-block card-start-heading">
      <%= link_to btn_link, class: "btn btn-primary btn-warning navigation-btn" do %>
        <i class="fas fa-chevron-left fa-fw"></i><strong><%= btn_text %></strong>
      <% end %>
    </div>
    <div class="col-lg-8 p-3 p-lg-0 card-middle-heading "><h2 class="card-heading-custom"><%= title.html_safe %></h2>
    </div>
    <div class="col-lg-2 card-end-heading">
      <a class="btn btn-primary navigation-btn" href="#"><i class="fas fa-th-large fa-fw"></i></a></div>
  </div>
</div>