<div class="container container-fluid-lg">
  <div class="row">
    <div class="col-12">
      <footer>
        <!--  <hr />-->
        <div class="d-flex">
          <div class="flex-fill justify-content-start p-2">
            <span><small>© Copyright <%= Date.current.year %> • All Rights reserved</small></span>
          </div>
          <div class="justify-content-end p-2">
            <span><small>🚀 Powered by <u><%= link_to BRANDNAME, landing_root_url(subdomain: nil), target: "_blank" %></u></small></span>
          </div>
        </div>

      </footer>
    </div>
  </div>
</div>