<% content_for :thankyou do %>
  <main class="app app-site website">
    <div class="container container-fluid-xl">
      <!-- .row -->
      <div class="d-flex justify-content-center">
        <h1>Thanks for paying</h1>
      </div>
    </div>
  </main>
<% end %>