<% provide(:title, t('users.show.heading')) %>

<%= render partial: 'shared/breadcrumb', locals: {path: [{:title => 'users.show.users', :href => edit_user_path}, {title: @user.full_name, :href => ''}], icon: 'house-colored'} %>

<div class="page-container">
  <div class="container">
    <!-- .card -->
    <div class="card card-fluid">
      <h2 class="card-header"> <%= @user.full_name %> </h2>
      <div class="col-lg-6 offset-lg-3 col-md-12">
        <div class="media mb-3">
        </div>
      </div>
      <!-- .card-body -->
      <div class="card-body">
        <!-- .media -->

      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div>
</div>