@import 'alerts';
@import 'breadcrumbs';
@import 'common-mixins';
@import 'forms';
@import 'icons';
@import "scaffolds";
@import "users";
@import 'theme/components/sticker';

// Old background
//$application-background-color: #f8faff;
//$application-background-color: #F4F5F9;
$application-background-color: #eff3f6;

%table-first-row-no-border {
  tbody > tr:first-child > td {
    border: none;
  }
}

.app{
  min-height: unset;
  overflow-x: unset;
}

// This is only used in the main website page
// since its layout is different than the application.
.hidden-x-overflow {
  overflow-x: hidden;
}

//.app-main {
//  min-height: 900px;
//}
//@font-face {
//  font-family: 'PFDinDisplayPro-Regular';
//  font-style: normal;
//  font-weight: normal;
//  src: local('PFDinDisplayPro-Regular'), url('PFDinDisplayPro-Regular.woff') format('woff');
//}
//
//
//@font-face {
//  font-family: 'PFDinDisplayPro-Bold';
//  font-style: normal;
//  font-weight: normal;
//  src: local('PFDinDisplayPro-Bold'), url('PFDinDisplayPro-Bold.woff') format('woff');
//}

body {
  line-height: 1.5em;
  color: #454545;
  //color: #1d2d35;
  text-align: left;
  //font-family: 'Roboto', Arial, sans-serif;
  //font-family: 'Fira Sans', Arial, sans-serif;
  font-family: 'Noto Sans', Arial, sans-serif;
  //font-family: $proxima-nova;
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Clear Sans Regular', Arial, sans-serif;
  //font-family: 'PFDinDisplayPro-Regular', sans-serif;
  //font-family: 'Poppins', helvetica, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  background: $application-background-color;
}

// This is just a hack to preload images
// https://stackoverflow.com/questions/1373142/preloading-css-images
body::after {
  position: absolute;
  width:0;
  height:0;
  overflow:hidden;
  z-index:-1;
  content: url('../images/spinners/ellipsis_loader.svg');   // preload images
}

.page-container {
  padding-top: 3.25rem;
  margin-bottom: 10px;
  border: 0 none;
  border-radius: 3px;

  background-color: $application-background-color;
  transition: all 1s ease;
}

.app{
  background: $application-background-color; //hack
}

#logo-overflow {
  overflow: visible;
}

textarea {
  resize: vertical;
}

.breadcrumb-custom {
  background-color: #ffffff !important;
  border-bottom: 1px solid #cdcfd5;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 0 0 0 !important;
  margin: 0 !important;
  height: 50px;
  overflow: hidden;
}

.centered-title {
  text-align: center;
}

/* Typography */

h1 {
  letter-spacing: -2px;
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  color: #777;
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
  color: #777;
}

.card-footer {
  padding-left: 10px;
}

.user-logo-image{
  display: block;
  max-width:230px;
  max-height:45px;
  width: auto;
  height: auto;
}

/* footer */

footer:not(.auth-footer) {
  margin-top: 45px;
  padding-top: 10px;
  //border-top: 1px solid #eaeaea;
  border-top: 1px solid #cdcfd5;
  color: #777;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* alerts */
.alert {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// ***************

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f0f1f4;
}

.user_info_card {
  color: black;
  padding: 5px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px; /* 5px rounded corners */
}

.user_info_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.turbolinks-progress-bar {
  z-index: 2000;
  height: 2px;
  background-color: $yellow;
  box-shadow: 0 0 10px rgba(119, 182, 255, 0.7);
}

#page-transition {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -ms-transition-animation-duration: 500ms;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.8;
}

.card-controls-container {
  top: 65%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity, 0.2s ease-in-out;

}

.card-controls {
  border-radius: 3px;
  @include box-shadow(0 -1px 1px #d4d8e3, 0 2px 3px #d4d8e3);

  a.card-control-button span i.fa {
    color: #444;
  }
}

.property {
  padding: 5px;
  margin-bottom: 25px;
  height: 300px;
  box-shadow: 0 0 11px 0 #b1b1b1;
  border-radius: 4px;
  @include box-shadow(0 -1px 1px #d4d8e3, 0 2px 3px #d4d8e3);

  &:hover {
    .card-controls-container {
      opacity: 1;
      visibility: visible;
    }
  }
}

.pr-centered-td {
  text-align: center;
}

.accounts {
  list-style-type: none;
  padding: 0;

  li {
    border: 1px solid #eee;
    padding: 10px;
    font-weight: bold;

    &:hover {
      background: #eee;
    }
  }
}

.label {
  text-align: right;
  width: auto;
  min-width: 16px;
  display: inline-block;
  border: 1px solid #cccccc;
  font-weight: normal;
  font-size: 12px;
  padding: 4px 5px;
  background: #eeeeee;
  color: black;
  &:hover {
    cursor: default;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.dropdown-sheets {
  padding-right: 0;
  padding-left: 0;
}

.dropdown-sheets .dropdown-sheet-item:nth-child(3n+1),
.dropdown-sheets .dropdown-sheet-item:nth-child(3n+3) {
  text-align: center;
}

.d-label {
  display: inline;
}

.d-text {
  display: block;
}

.desc-container {
  min-height: 50px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.card-control-buttons.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
  border-top-left-radius: 0;
}

.card-control-buttons.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
  border-top-right-radius: 0;
}

.option-container {
  display: block;
  text-align: center;
  border-radius: 5px;
  color: #454545;
  &:hover {
    text-decoration: none;
    background-color: rgba(0, 143, 213, 0.25);
    cursor: pointer;
    p {
      color: #454545;
    }
  }
}

.options-section{
  background: #f3f4f8;
}

.option-container-alt {
  text-align: center;
  border-radius: 5px;
  color: #454545;

  &:hover {
    text-decoration: none;
    background-color: rgba(0, 143, 213, 0.25);
    cursor: pointer;
    p {
      color: #454545;
    }
  }
}

.max-300{
  max-width: 300px;
}

.option {
  padding: 20px 40px 2px 40px;
}

.menu-row {
  margin-top: 10px;
}

.selected-option {
  background-color: $gray-500;
  color: #ffffff;
}

.highlighted {
  background-color: #ffd54f;
}

.highlighted-bg {
  background: #f3dc65;
  font-weight: bold;
}

.highlighted-fg {
  color: #e0301d !important;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  opacity: 0.8;
  position: absolute;
  top: 185px;
  bottom: 5px;
  left: 255px;
  right: 5px;
  transition: .3s ease;
  i.far.fa-heart {
    color: #ffffff;
  }
}

/* When you mouse over the container, fade in the overlay icon*/
.overlay:hover {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.popover {
  border: 1px solid #37474f;
}

.bs-popover-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #37474f;
}

.bs-popover-auto[x-placement^="right"] .arrow::before {
  border-right-color: #37474f;
}

.bs-popover-auto[x-placement^="left"] .arrow::before {
  border-left-color: #37474f;
}

.bs-popover-auto[x-placement^="top"] .arrow::before {
  border-top-color: #37474f;
}

.popover-header{
  background: #37474f;
  color: #ffe000 !important;
}

.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
  object-fit: contain;
}

.placeholder img.loaded {
  opacity: 1;
}

.img-small {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}

.myimages {
  width: 100%;
  height: auto;
}

.thumb-container {
  display: flex;
  // without this it covers the container
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 240px;
  height: 176px;
}

.thumb {

  object-fit: contain;
  min-width: 100%;
  min-height: 100%
}

.opaque {
  opacity: 0.5;
}

.tab-content {
  padding: 20px 15px 0 15px;
}

.yolo{
  text-align: center;
}

.disabledElement {
  pointer-events: none;
  opacity: 0.4;
}

.control--menu-is-open {
  background: black;
}

.uppy-emitters {
  display: none;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.thumbnail-container {
  display: inline-block;
  width: 150px;
  height: 100px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.thumbnails-header {
  margin-top: 20px;
}

li.page-item {
  cursor: pointer;
}

// https://stackoverflow.com/a/30663705/178728
.thumbnails-ribbon {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  input[type="checkbox"][id^="thumb"] {
    display: none;
  }

  label {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #EA6759;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    transition-duration: 0.2s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    z-index: 5000;
  }

  label img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

  :checked + label:before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f1f8";
    font-weight: 900;
    background-color: #EA6759;
    transform: scale(1);
  }

  :checked + label div.thumbnail-container {
    border: none;
  }

  :checked + label img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 5px #333;
    //z-index: -1000;
  }
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.feedback-text {
  margin: 20px 0 20px 0;
}

#particles {
  z-index: -1;
}

.auth-subheader {
  z-index: 1000;
}

.controls {
  padding-top: 20px;
  display: inline-block;
  text-align: center;
}

.account-switcher {
  margin-top: 150px;
  border: 1px solid #f6c373;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.prepended-label-fix {
  height: 2.7rem;
}

.auth-form-special {
  padding-top: 1rem;
}

.vertical-spacer {
  padding: 10px 0 0 0;
}

.profile-pic {
  width: 100%;
  height: auto;

  img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
    border-radius: 3px;
  }
}

.alphatar {
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
}

.alphatar-edit {
  height: 100%;
  width: 100%;
  margin: 0;
  display: block;
  text-align: center;
  line-height: 38px;
  font-size: 28px;
  padding-top: 20px;
  color: #ffffff;
}

.user-avatar-bordered {
  border: 2px solid $gray-300;
}

// -----------------------------


/*
  スタイルシート: public/stylesheets/will_paginate.css
*/
.accounts-pagination {
  display: inline-block;
  text-align: center;

  .pagination {
    padding: 3px;
    margin: 3px;
  }

  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #000099;
  }

  .pagination a:hover, .pagination a:active {
    border: 1px solid #000099;
    color: #000;
  }

  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
  }

  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
  }
}

.invite-action {
  padding-top: 0;
}

.page-item-upper, .break-button-upper {
  display: none;
}

.search-count-container {
  padding-top: 7px;
}

.reduced-opacity {
  opacity: 0.5;
}

.slightly-reduced-opacity {
  opacity: 0.75;
}

.no-entries {
  border: 3px dotted grey;
  text-align: center;
  padding: 20px 0 10px 0;
  background: #FFFFFF;
  color: grey;
}

.no-entries-calendar {
  text-align: center;
  padding: 20px 0 10px 0;
}

.no-favlists {
  text-align: center;
}

.no-results{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: auto 135%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/dinosaurus.svg');
}

.no-results-partners{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: auto 135%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/employee.svg');
}

.no-results-notifications{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: auto 135%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/empty_email.svg');
}

.no-results-clients{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: auto 135%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/empty_clients.svg');
}

.no-results-properties{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: auto 135%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/no_properties.svg');
}

.no-results-alt{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/cactus.svg');
}

.no-results-alt-2{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/no_content.svg');
}

.nothing-yet{
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/list.svg');
}

.uppy-Dashboard-inner{
  background-color: #ffffff;
}

.uppy-Dashboard-AddFiles-title{
  color: #757575;
}

.count {
  color: $danger;
}

.action-btns {
  padding: 10px 25px 0 0;
  white-space: nowrap;
}

.search-container {
  margin-bottom: 15px;
}

.pointer-questionmark{
  cursor: help;
}

.green {
  color: $teal !important;
}

.gray {
  color: $gray-700 !important;
}

.red {
  color: $red !important;
}

.blue {
  color: $blue !important;
}

.avatar-wrapper {
  display: inline-block;
}

.property-avatar-xl {
  border-radius: 3px;
  width: 16rem;
  height: 9rem;
  border: 1px solid rgba(20, 20, 31, 0.12);

  img {
    object-fit: contain;
    border-radius: unset;
  }
}

.property-alphatar {
  padding-top: 15px;
}

.property-cover-tooltip, .property-cover-popover{
  cursor: help;
}

.form-control:disabled.file-emitters, .form-control[readonly].file-emitters {
  opacity: 0;
}

#property-avatar-spinner {
  display: none;
}

.custom-margin {
  margin-top: 12%;
}

.reactstrap-modal-button-right {
  display: inline-block;

  button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.reactstrap-modal-button-left {
  display: inline-block;

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.reactstrap-modal-button-x {
  display: inline-block;

  button {
    border-left: none;
    border-radius: 0;
  }
}

// Chrome hotfix for aligned checkboxes and radioboxes
.custom-checkbox,
.custom-radio {
  .custom-control-label{
    cursor: pointer;
    &:after {
      background: no-repeat 51% 51% / #{$custom-control-indicator-bg-size};
    }
  }
}

.table-icon-wrapper {
  display: inline-block;
}

.normalize-table {
  @extend %table-first-row-no-border;
  margin-top: -10px;
}

.card-header{
  background-color: #FAFBFC;
}

.card-header-custom {
  padding: 0.5rem 1rem;

  .card-start-heading {
    text-align: left;
  }

  .card-middle-heading {
    text-align: center;

    h2 {
      margin: 0;
    }
  }

  .card-end-heading {
    text-align: right;
  }

  .navigation-btn {
    white-space: nowrap;
  }

}

.badge-container {
  display: inline-block;
  padding: 3px 1px;
  cursor: default;
}

.badge-custom {
  padding: 0.3rem 0.4rem;

  .badge-text {
    display: inline-block;
    vertical-align: middle;
  }

}

.no-wrap {
  white-space: nowrap;
}

#breadcrumb-home {
  margin-bottom: 4px;
}

.nowrap {
  white-space: nowrap;
}

.first-row-no-border{
  @extend %table-first-row-no-border;
}

.print {
  -webkit-print-color-adjust: exact;
  @extend %table-first-row-no-border;
  .footer{
    font-size: 12px;
    border-top: 1px solid #ecedf1;
  }
  .no-pic-container {
    opacity: 0.7;
    padding-top: 25px !important;
    img {
      height: 200px !important;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .contact{
    // https://codepen.io/MikeMitterer/pen/dPvJQw
    div { box-sizing: border-box; }
    .container {
      display: flex;
      justify-content: center;
      align-content: flex-start;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }
    .circle {
      background-color: #37474f;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      width: 250px;
      height: 250px;
      border-radius: 1000px;
      margin: 0.5em;
    }
    .aligner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;
    }
  }

  h2.decorated {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ecedf1;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  h2.decorated span {
    background:#fff;
    padding:0 10px;
  }

  .print-img {
    padding: 0 0 0 10px;
    img {
      width: 100%;
      object-fit: contain;
      height: 250px; /* only if you want fixed height */
    }
  }
}

// Theme override. Hides the logo on screens up to `md`. Makes it visible on `lg` and up.
.top-bar-brand{
  @include media-breakpoint-up('lg') {
    display: flex !important;
  }
  @include media-breakpoint-down('md') {
    display: none !important;
  }
}

.filter-header{
  font-size: 14px;
}

.property-title{
  display: block;
}

.purpose{
  //width: 120px;
  text-align: center;
  font-weight: bold;
  background-color: #f3dc65;
  color: #e0301d !important;
  border-radius: 5px;
  padding: 5px 0 5px 0;
}

.front{
  z-index: 5000;
}


.header-public{
  background-color: $primary;
  color: $white;
}

.header-internal{
  background-color: $pink;
  color: $white;
}

i.fa-lock:hover{
  cursor: help;
}


// SIDEBAR STYLES
// ==============
.stacked-menu .menu-link {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 20px;
}

// ---Don't delete---
//.has-active {
//  .menu-link:before {
//    background-color: $yellowbg;
//    //background-color: #ea5f4a;
//    display: block;
//    content: "";
//    position: absolute;
//    top: 8px;
//    left: 0;
//    bottom: 8px;
//    width: 6px;
//    color: #ffffff !important;
//    border-radius: 0 3px 3px 0;
//    transition: background-color 0.15s linear 0s;
//  }
//
//  .menu-icon, .menu-text {
//    color: #ffffff !important;
//  }
//
//  .sidebar-masked-icon {
//    background-color: rgb(255, 255, 255) !important;
//  }
//}

.has-active {
  .menu-link:before {
    background-color: $yellowbg;
    display: block;
    content: "";
    position: absolute;
    top: 34px;
    left: 16px;
    bottom: 0;
    width: 25px;
    color: #ffffff !important;
    border-radius: 5px;
    transition: background-color 0.15s linear 0s;
  }

  .menu-icon, .menu-text {
    color: #ffffff !important;
  }

  .sidebar-masked-icon {
    background-color: rgb(255, 255, 255) !important;
  }
}

.stacked-menu > .menu > .menu-item > .menu-link:focus {
  //color: rgb(149, 134, 165);
  //color: rgb(189, 180, 199);
  color: rgb(170, 182, 199);
  .sidebar-masked-icon {
    //background-color: rgb(189, 180, 199);
    background-color: rgb(170, 182, 199);;
  }
}

.stacked-menu > .menu > .menu-item > .menu-link, .stacked-menu .menu-link > .menu-icon{
  //color: rgb(149, 134, 165);
  //color: #9da8b2;
  color: #888c9b;
  transition: color 0.15s linear 0s;
  &:hover{
    .sidebar-masked-icon {
      background-color: rgb(170, 182, 199);
    }
    color: rgb(170, 182, 199);
  }
}

.aside-menu{
  //background: linear-gradient(rgb(74, 62, 86), rgb(48, 40, 57)); // sentry
  background-color: #37474f; // material-ui
  //background-color: #263238;
  //background-color: #455a64;
  //background-color: #263238;
  //background-color: #32363c;
}

.app-header{
  z-index: 1032;
}

.app-header-dark .top-bar-brand {
  background-color: #37474f;
  //background: linear-gradient(rgb(74, 62, 86), rgb(48, 40, 57));
}

.menu-text-entry{
  padding-left: 12px;
}
// ==============

.frosty {
  filter: blur(4px);
}

.uid {
  margin-top: 5px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #37474f;
  color: #ffffff !important;
}

a.tt-suggestion.tt-selectable{
  cursor: pointer;
}

.client {
  a:hover {
    text-decoration: none;
  }

  h3 {
    text-align: left;
  }

  .clientavatar {
    padding-top: 2px;
  }
}

.request-description{
  padding-top: 10px;
}

.hidden-element{
  visibility: hidden;
}

.visible-element{
  visibility: visible;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .8;
  font-size: 1em;
  font-weight: bold;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    //background: linear-gradient(to right, transparent, #818078, transparent);
    background: linear-gradient(to right, transparent, #37474f, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    //color: #818078;
    color: #37474f;
    background-color: #fcfcfa;
  }
}

.custom-list-group-item {
  align-items: center;
}

.custom-list-button{
  padding: 0.75rem 1rem;
}

.pr-tile{
  vertical-align: unset;
}

.extra-index-info{
  //@media (min-width: 992px) and (max-width: 1227px) {
  @media (min-width: 992px) and (max-width: 1549px) {
    display: none !important;
  }
}

//1549
.extra-index-info-alt{
  display: none;
  @media (max-width: 767px){
    display: inline-block;
  }
  //@media (min-width: 992px) and (max-width: 1227px) {
  @media (min-width: 992px) and (max-width: 1549px) {
    display: inline-block;
  }
}

// ALT DATA
.main-info {
  @media (min-width: 992px) and (max-width: 1549px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.list-group-media .list-group-item.property-index-avatar .list-group-item-figure {
  @media (max-width: 767px) {
    max-width: 100% !important;
    width: unset !important;
  }
}

.figure-title-custom{
  color: #454545;
  text-transform: unset;
}

.card-figure-custom{
  color: #454545;
}

.toggle-button{
  cursor: pointer;
}

.custom-px{
  padding-left: 10px;
  padding-right: 10px;
}

.custom-list-group-item-body-padding{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.index-slug{
  display: none;
  @media (min-width: 992px) and (max-width: 1549px) {
    display: block;
  }
  strong {
    background: #37474f;
    color: #ffffff;
  }
}

.w-80{
  min-width: 80px;
}

.relativeposition{
  position: relative;
}


.steps a {
  @media (max-width: 576px) {
    padding: 2.5px 0.150rem 3px 1.2rem !important;
  }
}

.steps li:last-child a {
  @media (max-width: 576px) {
    padding-right: 0.975rem !important;
  }
}

.hide-xs{
  display: none;
  @media (min-width: 375px) {
    display: block;
  }
}

.property-entry:hover{
  text-decoration: none;
}

.tile-square{
  object-fit: contain !important;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.img-fit-contain{
  object-fit: contain;
}

a.text-link {
  border-radius: 3px;
}

.clients-timeline-header {
  background: #F7C46C;
  color: #000000;
  &:hover{
    color: #000000;
  }
}

.users-timeline-header {
  background: #00A28A;
  color: #ffffff;
  &:hover{
    color: #ffffff;
  }
}

.properties-timeline-header {
  background: #5F4B8B;
  color: #ffffff;
  &:hover{
    color: #ffffff;
  }
}

.top-bar-list{
  background: #37474f;
  //background: #32629d;
  //background: #376dae;
}

.top-bar-brand{
  background: #37474f;
}

.app-aside-light {
  border-right: unset;
}

.menu-header{
  cursor: default;
  padding: 10px 10px 10px 20px !important;
  color: $yellowbg !important;
  transition: all 0.2s ease;
  transition-property: color, background-color, border-color;
  &:hover{
    background: $yellowbg;
    border-color: $yellowbg;
    color: $blackfg !important;
  }
}
//
.top-bar-brand{
  transition: box-shadow 0.2s linear;
  // Careful with this as it overrides defaults.
  // Default width in this case is 12rem;
  width: unset;
}

.section-title-custom{
  font-size: 0.8rem;
  color: #777;
}

.search-height{
  font-size: 1rem;
}

// LOGO ANIMATION
.top-nav__logo {
  object-fit: cover;
  width: 100%;
}

.top-nav__logo .icon {
  stroke: #1d2d35;
}

.top-nav__logo .name {
  fill: #1d2d35;
}

.top-nav__logo .card {
  opacity: 0;
  transform: translateX(1.25rem) rotate(10deg);
  transition: all 0.15s ease-out;
  fill: #ffe000;
}

.top-nav__logo:hover .card {
  opacity: 1;
  transform: translateX(0) rotate(0deg);
}

.top-nav__logo:hover .card--front {
  opacity: 0.6;
}

.top-nav__logo .card--back {
  transition-delay: 0.1s;
}

// logo animation end
.top-nav__logo:hover{
  #gear{
    animation: spin 15000ms linear infinite;
    transform-origin: 8px 8px;
  }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.page-container .app-container{
  background: $application-background-color;
  box-shadow: unset;
  overflow: inherit;
}

.borderlesss-card{
  box-shadow: unset;
}

.simplified-header{
  background: unset;
  padding-left: unset;
  color: unset;
  border-bottom: unset;
  &:first-child span{
    border-bottom: 0.2em solid #ffe000;
  }
}

.forbidden-cursor{
  cursor: not-allowed;
}

.badge-squared{
  border-radius: 0;
}

.nocfields-feedback{
  justify-content: center;

}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link.custom {
  border-bottom: none;
  border-width: 0 0 3px;

  .tab-title-container-partner{
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: #af5a98;
    background-color: rgba(183,107,163,.08);
    border-color: transparent;
  }
  .tab-title-container-client{
    border-radius: 5px;
    color: #008974;
    background-color: rgba(0,162,138,.08);
    border-color: transparent;
    padding: 5px 15px 5px 15px;
  }
}

nav.nav-tabs a.nav-link.setting.active {
  border-width: 0 0 0 3px;
}

nav.nav-tabs a.nav-link.setting:hover, nav.nav-tabs a.nav-link:focus{
  border-color: #346CB0;
}

nav.nav-tabs a.nav-link:hover:not(.setting), nav.nav-tabs a.nav-link:focus:not(.setting){
  border-color: transparent;
}

.nav-tabs .nav-link.custom {
  padding: 0.5rem 1rem 0 1rem !important;
}

.list-group.custom {
  box-shadow: unset;
}

.tab-text{
  @media (min-width: 992px) and (max-width: 1080px) {
    display: none !important;
  }
}

.no-underline:hover{
  text-decoration: none;
}

.file-container {
  label {
    cursor: pointer;
  }
  input {
    display: none;
  }
}

.activeTab{
  font-weight: 700;
  color: red;
}

.error-msg{
  color: red;
}

// Fix for svg icons in navbar
.app-header-dark .header-nav .nav-link:hover{
  .sidebar-masked-icon{
    background-color: #ffffff;
  }
}


.table.table-property-entry{
  td{
    padding: 0.2rem;
  }
}

.description-border{
  border-top:1px solid rgba(20, 20, 31, 0.15);
}

.card-businesstype-header{
  position: absolute;
  left: 0;
  border-top-left-radius: 0.25rem;
  border: 1px solid #f3dc65;
  background: #f3dc65;
  padding: 0 0.25rem;
}

.card-online-status{
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-right-radius: 0.25rem;
  color: #00a28a;
  background: #37474f;
}

.cursor-pointer{
  cursor: pointer;
}

.user-assign-counter{
  z-index: 1;
  position: absolute;
  background: #f3dc65;
  border-radius: 50%;
  right: -5px;
  top: -10px;
  width: 1.2em;
  height: 1.2em;
  padding: 12px;
}

// This is for the modals animation
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

// Slide slightly Up
@keyframes slideSlightlyUp {
  0%   { transform: translateY(20px) translateZ(0); }
  100% { transform: translateY(0) translateZ(0); }
}

// Slide slightly Down
@keyframes slideSlightlyDown {
  0%   { transform: translateY(-5px) translateZ(0); }
  100% { transform: translateY(0) translateZ(0); }
}

.modal-wrapper {
  width: 100%;
  -webkit-animation: fadeIn .2s ease, slideSlightlyUp .5s ease;
  animation: fadeIn .2s ease, slideSlightlyUp .5s ease;
}

.modal-body {
  min-height: 70px;
}

.myCustomPrefix__value-container > div {
  width: auto !important;
}

.modal-footer-border {
  border-top: 1px solid rgba(34, 34, 48, 0.1);
}

.btn-outline-control {
  color: #37474f;
  border-color: #37474f;

  &:hover {
    color: #ffffff;
    background-color: #37474f;
    border-color: #37474f;
  }
}

.masquerading-special{
  border: 2px dashed yellow !important;
  border-radius: 5px !important;
}

.masquerading-special-sysadmin{
  border: 2px dashed mediumpurple !important;
  border-radius: 5px !important;
}

.action-toolbar-group-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.uppy-Dashboard-inner {
  max-height: 510px !important;
}

.form-container.disabled{
  pointer-events: none;
  cursor: wait;
}

.footer-nav{
  padding: 0 25px 25px 0;

}

.footer-styles{
  background: #ffffff
}

.footer-table{
  float:right;
}

.footer-table td {
  text-align: right;
}

.pointer-hand button i{
  cursor: pointer !important;
}

#security-notice{
  padding:20px;
}

.table.table-property-entry td{
  padding: 0.3rem;
}

.table.table-property-entry tr td:last-child {
  padding-bottom: 8px;
}

.table-property-entry{
  margin-bottom: 0;
}

.modal-custom-dialog, .modal-custom-content{
  height: 95%;
}

.modal-custom-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

a.toggle.active {
  background: $teal !important;
  color: #ffffff !important;
}

.chart-masker{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/graph_masker.svg');
  background-position-y: 50%;
}

.jsCalendar table{
  font-family: 'Noto Sans', Arial, sans-serif !important;
  box-shadow: unset;
  margin: 0 auto;
}

.jsCalendar tbody td.jsCalendar-current{
  background-color: #f6511d;
}

.jsCalendar tbody td:hover {
  cursor: pointer;
}

#calendar{
  min-width: 320px;
}

#events .title {
  padding: 5px 0px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
#events .subtitle {
  padding: 5px 0px;
  font-size: 14px;
  text-align: center;
  color: #888;
}
#events .list {
  height: 250px;
  overflow-y: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#events .list .event-item {
  line-height: 24px;
  min-height: 24px;
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

i.close.fa-window-close:hover{
  color: red;
  cursor: pointer;
}

#events .list .event-item .close {
  font-size: 14px;
}

#events .action {
  text-align: right;
}

#events .action input {
  padding: 0px 5px;
  font-size: 12px;
  margin: 15px 5px;
  border: 1px solid #999999;
  height: 28px;
  line-height: 28px;
  width: 120px;
  background: #f8f8f8;
  color: black;
  cursor: pointer;
  transition: all 0.2s;
}
#events .action input:hover {
  background: $success;
  color: #ffffff;
  border: 1px solid $success;
}

.version {
  font-size: 12px;
  width: 800px;
  margin: 0 auto;
  text-align: right;
}

.calendar-entry-markup{
  font-weight: bold;
  color: #37474f;
  margin-right: 5px;
}

.list-group-media .list-group-item{
  z-index: 0;
}

.properties-listing-controls{
  position: absolute;
  right: 5px;
  bottom: 0;
  border-radius: 5px;
  background: #37474f;
  padding: 4px 5px;
  opacity: 0;
  transition: all .2s ease;

  .control-button {
    border-radius: 50%;
    padding: 2px 4px 2px 4px;
    color: rgba(255, 255, 255, 0.8);
    &:hover{
      color: #37474f;
      background: #ffe000;
    }
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.property-index-avatar:hover{
  .properties-listing-controls {
    transform: translateY(-5px);
    opacity: 1
  }
}

input.no-full-width{
  width: unset;
}

// --------------------------------- WEBSITE CSS -----------------------------------------------------
// --------------------------------- =========== -----------------------------------------------------
.website{
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: 'Fira Sans', sans-serif;
  background-color: gold;
  color: #000;

  .black-color{
    color: #000 !important;
  }

  h1{
    line-height: 1.15em;
    letter-spacing: 0.5px;
    font-weight: 800;
  }

  .subheader-text{
    font-size: 22px;
    line-height: 1.3em;
    margin-bottom: -20px;
  }

  .lead{
    font-weight: 400;
  }

  .hero-section {
    .hero-color{
      color: #000 !important;
    }
    .feature-card {
      background: #3c4257;
      .header{
        color: gold
      }
      .body{
        color: #FFFFFF;
        line-height: 1.4;
      }
    }
  }

  //  -=HERO START=-
  // HERO CLOUD SVG + ANIMATION
  svg#clouds {
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: 100;
  }

  .solo-cloud {
    top: 125px;
    left: 35px;
    fill: #ffffff;
    animation-delay: 0s;
    animation: move linear 5s infinite alternate;
    opacity: 0.7
  }

  @-webkit-keyframes move {
    from {-webkit-transform: translateY(0px);}
    to {-webkit-transform: translateY(15px);}
  }

  // HERO SUN SVG + ANIMATION
  svg#sun {
    top: 65px;
    left: 135px;
    z-index: 200;
    width: 80px;
    position: absolute;
  }

  .line-sun1-a {animation:line-sun1-a 3s -400ms infinite;}
  .line-sun1-b {animation:line-sun1-b 3s -800ms infinite;}
  .line-sun1-c {animation:line-sun1-c 3s -1100ms infinite;}
  .line-sun1-d {animation:line-sun1-d 3s -150ms infinite;}
  .line-sun1-e {animation:line-sun1-e 3s -1200ms infinite;}
  .line-sun1-f {animation:line-sun1-f 3s -900ms infinite;}
  .line-sun1-g {animation:line-sun1-g 3s -1700ms infinite;}
  .line-sun1-h {animation:line-sun1-h 3s -1900ms infinite;}
  .line-sun1-i {animation:line-sun1-i 3s -700ms infinite;}
  .line-sun1-j {animation:line-sun1-j 3s -1500ms infinite;}
  .line-sun1-k {animation:line-sun1-k 3s -1400ms infinite;}
  .line-sun1-l {animation:line-sun1-l 3s -1350ms infinite;}
  @keyframes line-sun1-a {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(0, -4px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(0, -4px, 0); opacity: 0;}
  }
  @keyframes line-sun1-b {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(0, 4px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(0, 4px, 0); opacity: 0;}
  }
  @keyframes line-sun1-c {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(2px, -1px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(2px, -1px, 0); opacity: 0;}
  }
  @keyframes line-sun1-d {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(-2px, 1px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(-2px, 1px, 0); opacity: 0;}
  }
  @keyframes line-sun1-e {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(2px, 1px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(2px, 1px, 0); opacity: 0;}
  }
  @keyframes line-sun1-f {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(-2px, -2px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(-2px, -2px, 0); opacity: 0;}
  }
  @keyframes line-sun1-g {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(1px, -2px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(1px, -2px, 0); opacity: 0;}
  }
  @keyframes line-sun1-h {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(-1px, 2px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(-1px, 2px, 0); opacity: 0;}
  }
  @keyframes line-sun1-i {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(2px, 0, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(2px, 0, 0); opacity: 0;}
  }
  @keyframes line-sun1-j {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(-2px, 0, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(-2px, 0, 0); opacity: 0;}
  }
  @keyframes line-sun1-k {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(1px, 2px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(1px, 2px, 0); opacity: 0;}
  }
  @keyframes line-sun1-l {
    0%{opacity: 0;}
    20%{transform:translate3d(0, 0, 0); opacity: 0;}
    60%{opacity: .8;}
    70%{transform:translate3d(-1px, -2px, 0); opacity: .8;}
    90%{opacity: 0;}
    100%{transform:translate3d(-1px, -2px, 0); opacity: 0;}
  }
  .line-sun1-rotate {animation:line-sun1-rotate 30s linear infinite; transform-origin: 50px 50px;}
  @keyframes line-sun1-rotate {
    100%{transform: rotate(360deg);}
  }
  @media (prefers-reduced-motion: reduce) {
    .line-sun1-a, .line-sun1-b, .line-sun1-c, .line-sun1-d, .line-sun1-e, .line-sun1-f, .line-sun1-g, .line-sun1-h, .line-sun1-i, .line-sun1-j, .line-sun1-k, .line-sun1-l, .line-sun1-rotate {
      animation: none;
    }
  }
  // -=HERO END=-

  .feature-strip-card {
    padding: 1.2rem;
    background: #fff;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
    margin: auto;
  }

  .btn-cta{
    background-color: #007aff;
    border-color: #007aff;
    color: #fff;
  }
}

#language-switcher-container{
  font-family: 'Fira Sans', sans-serif;
  background-color: #424245;
  color: white;
}

.country-prompt{
  cursor: default;
}

// This belongs to the website but falls outside of .website
.country-proposal{
  cursor: default;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  background: #0C5EAE;
}

.locale-redirect {
  padding: 4px 12px;
  border-radius: 3px;
  background: gold;
  color: #424245;
  &:hover{
    text-decoration: none;
    background: #FFFFFF;
    strong {
      color: #424245;
    }
  }
}

.locale-dismiss{
  text-decoration: none;
  padding: 3px 9px;
  border-radius: 50%;
  border: 1px dashed #ffffff;
  cursor: pointer;
  strong {
    color: #ffffff;
  }
  &:hover{
    background: #FFFFFF;
    strong {
      color: #424245;
    }
  }
}

.colored-mark{
  background: #77e8b9;
}

a.icon-font-delete{
  text-decoration: none !important;
}

.business-avatar{
  border-radius: unset !important;
}

.shoutout {
  border: 1px solid;
  font-size: 0.875rem;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.shoutout-danger {
  color: #9d5d8e;
  background-color: #fcf9fb;
  border-color: #b76ba3;
}

.shoutout-info {
  color: #046992;
  background-color: #f5fafc;
  border-color: #0179a8;
}

.shoutout.has-icon {
  padding-left: 4rem;
  min-height: 4rem;
}

.shoutout-field {
  background: gold;
  color: black;
  border-radius: 2px;
  padding: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.website-enabled-control, .pinned-control{
  z-index: 0;
}

.special-active {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: help;
}

.website-enabled {
  position: absolute;
  bottom: 4px;
  left: 4px;
  cursor: help;
  background: #fff;
  padding-left: 2px;
  padding-right: 2px;
}

.property-permissions{
  position: absolute;
  bottom: 4px;
  left: 22px;
  cursor: help;
  background: #fff;
  padding-left: 2px;
  padding-right: 2px;
}

.active-indicator-on {
  background-color: #28a745;
}

.active-indicator-off {
  background-color: gray;
}

.active-indicator {
  padding: 5px;
  border-radius: 50%;
}

.sticker{
  top: 10%;
}

.color-black{
  color: #000
}

.color-grey{
  color: #9b9b9b;
}

.color-gold{
  color: gold;
}

.color-white{
  color: #FFFFFF;
  &:hover{
    color: gold;
  }
}

.letter-spacing-soft{
  letter-spacing: 1px;
}

.font-large{
  font-size: 1.6rem;
}

.callout-header {
  //grid-column: 2/5;
  position: relative;
  padding: 0;
  margin: 0 0 0em 0;
  //font-family: "Jost", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: .95em;
  text-align: center;
}

.callout-header>span {
  color: #FFFFFF;
  display: inline-block;
  padding: 1em 2em;
  background-color: #3c4257;
  clip-path: polygon(5% 10%, 46% 1%, 46% 10%, 100% 0, 95% 90%, 31% 100%, 31% 90%, 0% 100%);
}

.no-text-decoration:hover{
  text-decoration: none;
}

.shepherd-title {
  justify-content: center;
}

.tour-body{
  font-size: 13px;
}

footer:not(.auth-footer){
  margin-top: unset;
}

.font-lg{
  font-size: 48px;
}

.logo-container{
  text-align: center;
  display: inline-block;
}

.menu-item.dropdown:not(:last-child){
  position: relative;
}

//-----------MENU SEPARATORS-----------------
//.menu-item.dropdown:not(:last-child):after{
//  content: '';
//  height: 50%; //You can change this if you want smaller/bigger borders
//  width: 2px;
//
//  position: absolute;
//  right: 0;
//  top: 12px; // If you want to set a smaller height and center it, change this value
//
//  background-color: #ffffff; // The color of your border
//}
//--------------------------------------------

.cursor-default{
  cursor: default;
}

.badges{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #ffffff;
  padding: 2px 5px 2px 5px;
  box-shadow: 0 0 0 1px rgba(20, 20, 31, 0.05), 0 1px 3px 0 rgba(20, 20, 31, 0.15);
  border-radius: 3px;
}

.pinned-badge {
  &:not(:first-child) {
    &:before {
      content: "\00a0| ";
      color: #37474f;
    }
  }
}

.pinned-bookmark{
  color: #e91e1e;
  z-index: 100;
}

.pinned-globe{
  color: dodgerblue;
  z-index: 100;
}

.pinned-client-visited{
  color: #BD1550;
  z-index: 100;
}

.notifications-icon-wrapper{
  position: relative;
}

#unread-notifications-count{
  position: absolute;
  top: -3px;
  right: 5px;
  color: black;
  border-radius: 50%;
  background: gold;
  padding: 0 7px 0 7px;
}

.pulsing-button {
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.9);
  //box-shadow: 0 0 0 0 rgba(255, 215, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  transition: all 300ms ease-in-out;
}

/* Comment-out to have the button continue to pulse on mouseover */
.pulsing-button:hover {
  animation: none;
  color: #ffffff;
}

/* Animation */
@keyframes pulsing {
  to {
    box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
  }
}


.client-search-toast{
  cursor: pointer;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px solid black;
}

.indicator-on {
  background: $teal !important;
}

.indicator-off{
  background: grey !important;
}

.dropdown-svg-icon{
  width: 10%;

}

.shepherd-website-centering{
  margin: 5px 15px 0 0 !important;
}

.flavor-warning {
  padding: 0 2px;
  margin-top: -10px;
  font-style: italic;
  color: #346cb0;
}

#account_flavor{
  border: 2px dashed gray;
}

.website-toggler{
  cursor: default;
  border: 1px solid gold;
  border-radius: 20px;
  padding: 5px;
  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: gold;
    background-color: gold;
  }
  #portal-link{
    color: #ffffff;
    &:hover{
      color: gold;
    }
  }
}

#quick-actions-dropdown-menu-element{
  .dropdown-menu.show {
    left: -150px !important;
  }
}

.property-quick-actions-container{
  padding: 10px 0;
  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: gold;
    background-color: gold;
  }
  .custom-switch .custom-control-label::after {
    top: calc(0.25rem + 2px) !important;
  }
  .custom-switch .custom-control-label::before {
    top: 0.25rem !important;
  }
}

.btn-floated-left {
  left: 1.25rem;
}

.info-container {
  border: 1px solid grey;
  padding: 8px;
  border-radius: 3px;
  border-top-color: #01A28A;
  border-top-width: 3px;
}

.bg-grey {
 background-color: #37474F;
}

.thankyou-checkmark{
  max-width: 75px;
}

.testimonial-avatar {
  border-radius: 50%;
  overflow: hidden;
}

.sample-ribbon {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 0px; /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 1px 15px var(--f) calc(20px + var(--r));
  clip-path:
          polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
                  calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
                  var(--r) calc(50% - var(--f)/2));
  background: #BD1550;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1.5px;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}

.fixed-breadcrumb-navbar{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.description-wrapper{
  border: 3px dotted grey;
  padding: 10px;
}

.no-pointer-events {
  pointer-events: none;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.crisp-client .cc-kv6t .cc-1xry a.cc-unoo{
  bottom: 55px !important;
}

.client-qr-code-container {
  position: absolute;
  padding: 10px;
  border-radius: 6px;
  cursor: help;
  border: 1px solid #37474f;
}

.user-new-icon-container {
  position: absolute;
  padding: 10px;
  border-radius: 6px;
  cursor: default;
  border: 1px solid grey;
  opacity: 0.8
}

.client-new-icon-container {
  position: absolute;
  padding: 10px;
  border-radius: 6px;
  cursor: default;
  border: 1px solid grey;
  opacity: 0.8
}

// --- Filters drawer ---

.filter-drawer-container,
.filter-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
}

.filter-drawer-container {
  right: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 99998;

  &.filter-drawer-container-active {
    visibility: visible;
    opacity: 1;
    background-color: rgba($black, .3);
  }
}

.filter-drawer {
  margin-bottom: 0;
  width: 100%;

  &.filter-drawer-active {
    background: #FFFFFF;
    z-index: 99999;
    box-shadow: 2px 0 20px black;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.bottom-actions{
  display: flex;
  position: fixed;
  align-items: center;
  bottom: 0;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  right: 0;
  left: 0;
  z-index: 90;
  margin: 0;
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}

.unset-card-box-shadow{
  @media (max-width: 1199px) {
    box-shadow: unset;
  }
}
// --- Filters drawer end ---

.custom-field-checkbox {
  z-index: unset;
}

.closer-button {
  background-color: transparent;
  border: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: none;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem 1.25rem;
  color: inherit;
}
