@mixin links ($link, $visited, $hover, $active) {
  & {
    color: $link;
    &:visited {
      color: $visited;
    }
    &:hover {
      color: $hover;
    }
    &:active, &:focus {
      color: $active;
    }
  }
}

@mixin setLinkStyleAll {
  &, &:hover, &:link, &:active, &:visited {
    @content;
  }
}