// These are inlined svgs with the intention of changing their stroke/fill on hover

//$properties-icon-content: '<path d="M328.863 495.913V327.531l18.145 13.993 9.825-12.74L181.395 193.5 5.955 328.784l9.825 12.74 18.147-13.993v37.001h16.087v-49.406l131.381-101.31 131.38 101.31v180.787H204.243V512h193.049v-16.087"/>
//  <path d="M182.793 281.414c-34.004 0-61.668 27.664-61.668 61.668v61.668h123.337v-61.668c0-34.004-27.664-61.668-61.669-61.668zm-8.044 107.249h-37.537v-37.537h37.537v37.537zm0-53.624h-36.812c3.345-18.695 18.118-33.467 36.812-36.812v36.812zm16.088-36.813c18.696 3.345 33.468 18.118 36.812 36.812h-36.812v-36.812zm37.537 90.437h-37.537v-37.537h37.537v37.537zM187.158 4.14L182.57 0l-5.697 4.674L58.657 101.27l10.178 12.457 13.594-11.108v71.545h-39.06v16.088h171.599v-16.088H98.517V89.768l83.554-68.55 75.711 68.32v49.77h16.087V103.77l10.795 9.709 10.758-11.961M11.194 174.162h16.087v16.087H11.194z"/>
//  <path d="M177.431 56.19c-19.22 0-34.856 15.637-34.856 34.856v34.856h69.712V91.046c0-19.219-15.636-34.856-34.856-34.856zm18.768 53.625h-37.537V91.046c0-10.349 8.42-18.769 18.769-18.769 10.348 0 18.769 8.42 18.769 18.769v18.769zm284.211 90.388l17.68 15.902 10.758-11.961L370.553 79.753l-5.185-4.678-5.271 4.324-152.363 124.497 10.178 12.457 21.187-17.312v26.067h16.088v-38.827l109.68-89.987 99.456 89.758v159.711H343.667v16.088h160.874v-16.088H480.41"/>
//  <path d="M365.117 163.44c-28.09 0-50.943 22.854-50.943 50.943v50.943h101.887v-50.943c0-28.09-22.854-50.943-50.944-50.943zm-8.044 85.799h-26.812v-26.812h26.812v26.812zm0-42.9h-25.865c3.03-12.769 13.096-22.836 25.865-25.865v25.865zm16.088-25.865c12.769 3.03 22.837 13.096 25.865 25.865h-25.865v-25.865zm26.812 68.765h-26.812v-26.812h26.812v26.812zm83.121 246.671h16.087v16.087h-16.087zm-64.35 0h16.087v16.087h-16.087zm32.175 0h16.087v16.087h-16.087zm-294.938-53.622c-4.626 0-9.175.924-13.388 2.679-5.832-10.984-15.942-19.143-28.056-22.475-5.428-25.781-28.14-44.554-55.079-44.554-31.047 0-56.306 25.258-56.306 56.306V512h152.83c19.22 0 34.856-15.637 34.856-34.856s-15.637-34.856-34.857-34.856zm0 53.625H19.238v-61.668c0-22.177 18.042-40.219 40.219-40.219 20.687 0 37.884 15.492 40.003 36.036l.648 6.292 6.269.853c11.795 1.604 21.402 10.077 24.473 21.586l3.284 12.304 9.7-8.252c3.388-2.883 7.704-4.469 12.148-4.469 10.348 0 18.769 8.42 18.769 18.769-.002 10.347-8.421 18.768-18.77 18.768z"/>';
//
//$partners-icon-content: '<path d="M344.465 35.957c-14.475-14.473-32.45-25.175-51.984-30.947-1.279-.378-4.758-1.406-13.244 1.593l-5.614-5.597-2.893-.309C266.413.235 262.013 0 257.652 0c-67.695 0-122.77 55.075-122.77 122.77v16.516c0 16.36 3.168 32.249 9.414 47.226l15.243-6.356c-5.402-12.953-8.141-26.703-8.141-40.87V122.77c0-58.588 47.666-106.254 106.254-106.254 2.822 0 5.661.113 8.473.337l9.327 9.3 5.183-2.318c2.778-1.243 6.406-2.473 7.999-2.735 16.578 5.048 31.828 14.213 44.152 26.537 20.068 20.068 31.12 46.752 31.12 75.133v16.516c0 14.165-2.738 27.914-8.139 40.864l15.243 6.356c6.245-14.976 9.412-30.863 9.412-47.222v-16.516c-.001-32.793-12.771-63.623-35.957-86.811z"/>
//  <path d="M298.142 113.623l-8.251-9.205-5.345 11.146c-14.125 29.46-44.347 48.496-76.994 48.496-14.011 0-27.901-3.469-40.167-10.032l-7.791 14.563c3.583 1.917 7.284 3.61 11.071 5.079v32.781c-.001 24.644 10.654 48.082 29.232 64.302 15.533 13.562 35.456 21.032 56.1 21.032 20.646 0 40.571-7.471 56.103-21.035 18.576-16.22 29.23-39.656 29.23-64.298v-49.949c4.711.952 9.514 1.597 14.393 1.878l.957-16.489c-22.582-1.309-43.372-11.35-58.538-28.269zm26.674 92.829c0 19.873-8.594 38.774-23.577 51.858-12.524 10.936-28.591 16.959-45.241 16.959-16.648 0-32.714-6.022-45.238-16.957-14.985-13.084-23.58-31.986-23.58-51.861v-27.946c6.687 1.363 13.517 2.071 20.372 2.071 35.127 0 67.9-18.462 86.365-47.856 9.159 8.2 19.612 14.576 30.898 18.953v54.779z"/>
//  <circle cx="222.968" cy="195.441" r="11.011" fill="#99b2cb" />
//  <circle cx="289.032" cy="195.441" r="11.011" fill="#99b2cb" />
//  <path d="M392.577 349.762c-16.451-25.509-39.609-45.862-66.966-58.859l-7.089 14.918c1.665.792 3.309 1.616 4.935 2.466l-6.217 18.649-21.877-10.939L256 296.316l-39.363 19.682-21.877 10.939-6.217-18.649c1.626-.85 3.27-1.676 4.936-2.466l-7.086-14.918c-27.36 12.997-50.517 33.35-66.97 58.859-16.899 26.2-25.831 56.602-25.831 87.915V512h324.817v-74.323c0-31.313-8.932-61.714-25.832-87.915zM256 314.781l20.695 10.347-5.443 27.216h-30.503l-5.443-27.215L256 314.781zm-40.679 180.703h-50.159v-68.817h-16.516v68.817h-38.538v-57.806c0-48.494 24.517-93.763 63.932-120.671l11.072 33.218 34.882-17.441 5.664 28.32-10.337 134.38zm16.564 0l9.741-126.624h28.748l9.741 126.624h-48.23zm170.007 0h-38.538v-68.817h-16.516v68.817h-50.159l-10.337-134.38 5.664-28.32 34.882 17.441 11.072-33.218c39.415 26.907 63.932 72.178 63.932 120.67v57.807z"/>';

.pr-icon-wrap {
  text-align: center;
}

.action-button-graphic {
  display: block !important;
  background-size: auto 100% !important;
  padding: 0 !important
}

.pr-icon {
  //padding: 18px 18px;

  margin-left: auto;
  margin-right: auto;
  display: inline-block;

  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center ;

  &.xxxs { width:  15px; height:  15px; vertical-align: middle;}
  &.xxs { width:  20px; height:  20px; vertical-align: middle;}
  &.xs { width:  25px; height:  25px; vertical-align: middle;}
  &.xss { width:  30px; height:  30px; vertical-align: middle;}
  &.cs { width:  35px; height:  35px; }
  &.css { width:  45px; height:  45px; }
  &.sm { width:  50px; height:  50px; }
  &.smm { width:  65px; height:  65px; }
  &.smmm { width:  85px; height:  85px; }
  &.md { width: 100px; height: 100px; }
  &.lg { width: 200px; height: 200px; }
  &.xl { width: 300px; height: 300px; }

  &.house-colored{
    background-image: url( house_colored.svg );
  }

  &.add-property-colored{
    background-image: url( add_property_colored.svg );
  }

  &.agent-colored{
    background-image: url( agent_colored.svg );
  }

  &.stats-colored{
    background-image: url( stats_colored.svg );
  }

  &.settings-colored{
    background-image: url( settings_colored.svg );
  }

  &.add-user-colored{
    background-image: url( add_user_colored.svg );
  }

  &.padlock1-colored{
    background-image: url( padlock1_colored.svg );
  }

  &.padlock2-colored{
    background-image: url( padlock2_colored.svg );
  }

  &.padlock3-colored{
    background-image: url( padlock3_colored.svg );
  }

  &.edit-user-colored{
    background-image: url( edit_colored.svg );
  }

  &.invite-user-colored{
    background-image: url( invite_user_colored.svg );
  }

  &.invite-user-colored2{
    background-image: url( invite_user_colored2.svg );
  }

  &.back-button{
    background-image: url( back_button.svg );
  }

  &.account-switch{
    background-image: url( account_switch.svg );
  }

  &.account-switch-navbar{
    background-image: url( switch_accounts_colored.svg );
  }

  &.search-user{
    background-image: url( search_user.svg );
  }

  &.no-results{
    background-image: url( no_search_results.svg );
  }

  &.assignments{
    background-image: url( assignments2.svg );
  }

  &.pencil{
    background-image: url( pencil_2.svg );
  }

  &.user-delete{
    background-image: url( trash_2.svg );
  }

  &.user-deactivate{
    background-image: url( pause_2.svg );
  }

  &.partner-info{
    background-image: url( business_card.svg );
  }

  &.bar-chart{
    background-image: url( bar_chart.svg );
  }

  &.checkmark{
    background-image: url( checkmark.svg );
  }

  & ~ .pr-icon-desc {
    display: block;
    text-align: center;
    font-size: 18px;
  }

}