@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "buttons";
@import "common-mixins";
@import "icons";
//@mixin inline-svg($color, $svg-content) {
//  $start: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512" height="512"><style>path { fill:#{$color}; }</style>';
//  $end:   '</svg>';
//  background-image: url('data:image/svg+xml;utf8, #{$start}#{$svg-content}#{$end}');
//}

/* Universal */

html {
  background-color: #f8faff;
  //height: 100%;
}

body {
  //font-weight: 100;
  padding: 80px 0 0 90px;
  background-color: #f8faff;
  line-height: 1.5em;
  // font color
  color: #454545;
  text-align: left;
  font-family: Roboto, helvetica, sans-serif;
  font-size: 14px;
  margin: 0 auto;
}

// This is fot
.pr-container{
  border: 0 none;
  border-radius: 3px;
  background-color: #fff;
  //margin: 60px 15px 15px 15px;
  //padding: 0px;
  //margin-bottom: 10px;
  @include box-shadow( 0 1px 0 #c5cad8, 0 2px 3px #d4d8e3 );
}

.navbar-background-coloring{
  background-color: #050f2c;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}



/* Typography */

h1 {
  letter-spacing: -2px;
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  //letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.full-width-container{
  width: 100%;
}

#logo {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 16px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* links */

ul.nav.navbar-nav > li > a{
  color: #cdcfd5;
  &:hover {
    @include setLinkStyleAll {
      color: #ffffff;
      background-color: transparent;
    }
  }
}

/* side navbar */

#sidebar {
  padding: 50px 0 0 0;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  left: 0;
  //background: rgba(1,67,88,1);
  //background: #0a67a8;
  background: #182359;
  z-index: 200;
}

/* side navbar menu options */

.side-menu-entry > a.entry-anchor-wrapper{
  letter-spacing: 1.5px;
  padding: 10px 5px 5px 5px;
  text-align: center;
  font-size: 12px;
  color: #99b2cb;
  .pr-icon{
    &.icon-properties {
      padding: 25px;
      @include inline-svg(#99b2cb, $properties-icon-content);
    }
    &.icon-partners {
      padding: 25px;
      @include inline-svg(#99b2cb, $partners-icon-content);
    }
  }
  &:hover{
    background: #050f2c;
    color: #00aeff;
    .pr-icon{
      &.icon-properties {
        @include inline-svg(#00aeff, $properties-icon-content);
      }
      &.icon-partners {
        @include inline-svg(#00aeff, $partners-icon-content);
      }
    }
  }
}


