//@import 'bootstrap/variables';
//
 #form-success{
   border: 1px solid var(--success);
   border-radius: 3px;
   padding-bottom: 15px;
 }

#form-error{
  border: 1px solid var(--success);
  border-radius: 3px;
  padding-bottom: 15px;
}