// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.user-entry-color{
  color: #444;
}

span.subtitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.invite-user, .add-user {
  padding-right: 15px;
  margin-right: 15px;
  span.subtitle {
    font-size: 14px !important;
  }
}

.user-search{
  padding: 30px 15px;
}

.dataTableContainer{
  padding: 0 15px 5px 15px;  // external padding
}

.dataTable{
  border: 0 none;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 -1px 1px #d4d8e3, 0 2px 3px #d4d8e3;
  box-shadow: 0 -1px 1px #d4d8e3, 0 2px 3px #d4d8e3;

  thead > tr > th {
    padding: 15px 0 15px 8px;

    div.table-entry{
      margin-left: 10px;

    }
    span {
      padding-left: 10px;
    }
    text-align: left;
  }

  tbody > tr:nth-of-type(odd){
    background: #f0f1f4;
  }

  .ef-btn{

    &:focus{
    background: #ffffff;
  }
  }

  //tbody > tr > td {
  //  vertical-align: middle;
  //}

  tbody > tr > td {
    padding: 5px !important;
    vertical-align: middle;
    line-height: 1.6;
    color: #444;
    border-color: transparent;
    text-align: left;
    div.table-entry {
      padding: 10px;
    }
    div.table-entry-image {
      padding: 10px;
    }
    .action-buttons-container > .table-icon-entry{
      margin: 0 5px 0 0;
      display: inline-block;
      color: #444;
      border-radius: 50%;
      transition: all .1s linear;
      &:hover{
        color:black;
      }
    }
  }
}

.avatar-table-entry{
  width: 32px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid #444444;
  padding: 1px;
}

.btn-custom{
  padding: 11px 20px;
}
.glyphicon-search{
  top: 3px;
  font-weight: bold;
}

.centered {
  img {
    max-width: 70px;
  }
  //border: 1px solid #fd5282;
  border-radius: 50%;
  //background: #ffffff;
  z-index: 999999;
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0 -1px 1px #d4d8e3, 0 2px 3px #d4d8e3;
  background-color: #fff;


  //margin: 5px;
  /* bring your own prefixes */
  //transform: translate(-50%, -50%);
}

//input[type="checkbox"] {
//  zoom: 1.5;
//}

//input[type="checkbox"] {
//    /* Styling checkbox */
//  -webkit-appearance: none;
//  background-color: #fafafa;
//  border: 1px solid #cacece;
//  width: 24px;
//  //height: 24px;
//  margin: 0 !important;
//  //box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
//  padding: 10px 0 10px 0;
//  border-radius: 2px;
//
//  display: block;
//  position: relative;
//}

//label input {
//  display: none;/* <-- hide the default checkbox */
//}
//label span {/* <-- style the artificial checkbox */
//  margin: 2px 0 0 0 !important;
//  height: 18px;
//  width: 18px;
//  background: #ffffff;
//  border: 1px solid grey;
//  display: block;
//  position: relative;
//  //padding: 10px 0 10px 0;
//}
//[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
//  content: '\2714';
//  position: absolute;
//  font-size: 16px;
//  top: -3px;
//  left: 1px;
//}
//
.page, .next, .previous, .break-button{
  cursor: pointer;
}

.no-users{
  padding: 20px 0;
  background: #f0f1f4;
}

.sortable-header-name{
  color: #333333;
  display: block;
  &:hover{
    text-decoration: none;
    //background: #eceff4;
  }
  span > i{
    color: #4c6bbe;
    display: block;
    margin-top: 3px;
  }
}


.spinner{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75px;
  height: 75px;
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center center ;
  background-image: url( spinners/double_ring.svg );
}

.min-width{
  min-width: 180px;
}

