<% provide(:title, t('invitations.accept.title')) %>

<% content_for :heading do %>
  <div>
    <p> <%= t('invitations.accept.subheading') %> </p>
    <p><%= t('invitations.accept.subheading_feedback_html', account: @invitation.account.subdomain) %></p>
  </div>
<% end %>

<% content_for :content do %>
  <% if !logged_in? %>
    <%= render 'anonymous_accept' %>
  <% else %>
    <%= render 'user_accept' %>
  <% end %>
<% end %>


















