<tr>
  <td class="align-middle nowrap">
    <div class="table-entry">
      <span class="align-middle"><%= cfield_label %></span>
    </div>
  </td>
  <td class="align-middle nowrap">
    <span><%= cfield_data ? t('true') : t('false') %></span></td>
</tr>
