<tr>
  <td class="align-middle nowrap">
    <div class="table-entry">
      <span class="align-middle"><%= cfield_label %></span>
    </div>
  </td>
  <td class="align-middle nowrap">
    <span><%= cfield_data ? 'Ναί' : 'Όχι' %></span></td>
</tr>
