<div class="col-8 offset-2">
  <div class="form-group mb-4">
    <div class="form-label-group">
      <%= f.select field.name,
                   options_for_select(field.options.split(';').map {|option| [option, option]}, f.object[field.name]),
                   {},
                   class: 'form-control custom-select' %>
      <%= f.label field.name %>
    </div>
  </div>
</div>