<div class="col-8 offset-2">
  <div class="form-group mb-4">
    <div class="form-label-group">
      <!-- Splits the options list string on empty space, comma, dot, semi-colon, single quote and double quote.
           Removes empty elements from the resulting array and finally iterates with map -->
      <%= f.select field.name,
                   options_for_select(field.options.split(/[\s,.;"']/).reject!(&:empty?).map {|option| [option, option]}, f.object[field.name]),
                   {},
                   class: 'form-control custom-select' %>
      <%= f.label field.name %>
    </div>
  </div>
</div>