<div class="col-8 offset-2">
<div class="form-group mb-4">
  <div class="form-label-group">
    <%= f.text_field field.name, class: 'form-control', autocomplete: "off" %>
    <%= f.label field.name %>
  </div>
</div>
</div>