<h1>Form content</h1>
<%= form_for @field, url: {action: "create" } do |f| %>
  <div class="form-group">
    <fieldset>
      <%= render 'accounts/entityfields/field_fields', f: f %>
      <%= link_to_add_fields "Add Field", f, :fields %>
    </fieldset>
  </div>

  <div class="form-group">
    <%= f.submit "Submit custom field", class: "btn  btn-warning" %>
  </div>
<% end %>