<% if logged_in? %>
  <div class="callout-website text-center mt-5">
    <div class="callout-website text-center mt-5"><h4><mark><%= t('website_disabled_html', account_path: account_edit_path) %></mark></h4></div>
    <div class="callout-picture mt-4"><img class="rounded mx-auto d-block" src="<%= asset_pack_path('media/images/disconnect.svg') %>" /></div>
  </div>
<% else %>
  <div class="callout-website text-center mt-5">
    <div class="callout-website text-center mt-5"><h4><mark><%= t('nothing_to_see') %></mark></h4></div>
    <div class="callout-picture mt-4"><img class="rounded mx-auto d-block" src="<%= asset_pack_path('media/images/disconnect.svg') %>" /></div>
  </div>
<% end %>