<div class="contact col-12">
  <div class="container">
    <div class="circle">
      <div class="aligner">
        <% %w(name email address telephones).each do |element| %>
          <% unless current_account.send(element).blank? %>
            <%= current_account.send(element) %><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


