<div class="contact">
<h3><strong><u><%= current_account.name %></u></strong></h3>
<h3><strong><u><%= current_account.website %></u></strong></h3>
<h3><strong><u><%= current_account.email %></u></strong></h3>
<h3><strong><u><%= current_account.telephones %></u></strong></h3>
</div>
