<div class="table-responsive">
  <table class="table <%= classNames %>">
    <tbody>
    <% features.each do |key, value| %>
      <tr>
        <td class="align-middle nowrap">
          <div class="table-entry">
            <div class="table-icon-wrapper">
              <i class="pr-icon xs <%= value[:icon] %>"></i>
            </div>
            <span class="align-middle">&nbsp;&nbsp;<%= t("activerecord.attributes.property.#{value[:label].to_s}_title") %></span>
          </div>
        </td>
        <td class="align-middle nowrap">
          <span><%= render_attribute(@property, key, value[:options], value[:renderfn]) %></span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
