<div class="form-error">
  <div>
    <div class="row">
      <div><h2><%= t 'properties.not_created.message' %></h2></div>
      <div><i class="pr-icon sm cancel"> </i></div>
    </div>
    <div class="row">
      <%= link_to t('properties.not_created.add_another'), new_property_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>