<% provide(:title, t('properties.show.print')) %>


<div class="print">
  <h1>Tony Stark</h1>
  <h1><%= t 'properties.map' %></h1>
  <h1>Χάρτης</h1>
  <h1>Διαχειριστής</h1>
  <%#= render partial: 'accounts/properties/specs' %>
</div>