<div class="navbar navbar-fixed-top navbar-background-coloring">
  <div class="container-fluid">
    <div class="navbar-header pr-account-header">
      <%= link_to root_url(subdomain: nil), id: 'home_anchor_logo' do %>
          <span id="logo" class="navbar-brand"><%= BRANDNAME %></span>
      <% end %>
    </div> <!-- end div class="navbar-header" -->
  </div>
</div>