<!-- .app-aside -->
<aside class="app-aside">
  <!-- .aside-content -->
  <div class="aside-content">
    <!-- .aside-header -->
    <header class="aside-header d-block d-md-none">
      <!-- .btn-account -->
      <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
        <div class="user-avatar user-avatar-lg">
          <img src="" alt="">
        </div>
        <div class="account-icon">
          <span class="fa fa-caret-down fa-lg"></span>
        </div>
        <div class="account-summary">
          <p class="account-name">John Doe</p>
          <p class="account-description">@johndoe</p>
        </div>
      </button>
      <!-- /.btn-account -->

      <!-- .dropdown-aside -->
      <div id="dropdown-aside" class="dropdown-aside collapse">
        <!-- dropdown-items -->
        <div class="pb-3">
          <a class="dropdown-item" href="#"><span class="dropdown-icon oi oi-person"></span> Profile</a>
          <a class="dropdown-item" href="#"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Help Center</a>
          <a class="dropdown-item" href="#">Ask Forum</a>
          <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
        </div>
        <!-- /dropdown-items -->
      </div>
      <!-- /.dropdown-aside -->
    </header>
    <!-- /.aside-header -->

    <!-- .aside-menu -->
    <section class="aside-menu has-scrollable">
      <!-- .stacked-menu -->
      <nav id="stacked-menu" class="stacked-menu">
        <!-- .menu -->
        <ul class="menu">
          <li class="menu-header">Menus</li>
          <!-- .menu-item -->
          <li class="menu-item">
            <!-- .menu-link -->
            <a href="#" class="menu-link">
              <span class="menu-icon oi oi-dashboard"></span>
              <span class="menu-text">Dashboard</span>
              <span class="badge badge-success">20+</span>
            </a>
            <!-- /.menu-link -->
          </li>
          <!-- /.menu-item -->
        </ul>
        <!-- /.menu -->
      </nav>
      <!-- /.stacked-menu -->
    </section>
    <!-- /.aside-menu -->
  </div>
  <!-- /.aside-content -->
</aside>
<!-- /.app-aside -->