<div class="d-flex flex-column">
  <div class="bd-highlight ">
    <div class="breadcrumb-container">
      <div class="breadcrumb-wrapper">
        <ul class="breadcrumb-custom ">
          <li><a href="/"><i id="breadcrumb-home" class="pr-icon xxs dashboard_alt"></i></a></li>
          <% path.each do |entry| %>
            <% if entry == path.last %>
              <li class="active"><span><strong> <%= entry[:title] %></strong></span></li>
            <% else %>
              <li><a href="<%= entry[:href] %>"><%= entry[:title] %></a></li>
            <% end %>
          <% end %>
          <div class="d-flex flex-row justify-content-end">
          <%= yield if block_given? %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

