<header class="navbar navbar-fixed-top navbar-background-coloring">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Property X', root_path, id: 'logo', class: 'navbar-brand' %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <li><%= link_to 'Log in', '#' %></li>
        <li id="ministyle"><a href="http://localhost:3000/mini_pages/dashboard">Special Item</a></li>
      </ul>
    </nav>
  </div>
</header>
<div>
  <%#= <div id="mini_pages"> %>

    <%#= content_for?(:mini_pages) ? yield(:mini_pages) : yield %>
<%#= </div> %>
</div>