<div class="d-none">
  <div id='users-list-path'><%= users_path %></div>
  <div id='clients-list-path'><%= clients_path %></div>
  <div id='properties-list-path'><%= properties_path %></div>
  <div id='favlists-list-path'><%= favlists_path %></div>
</div>