<nav id="sidebar" class="navbar navbar-default navbar-fixed-side">
  <ul class="side-menu nav nav-stacked">
    <li class="side-menu-entry">
      <a href="#" class="entry-anchor-wrapper ">
      <i class="pr-icon sm house-colored"></i>
      <div class="hidden-sm hidden-xs"><span>ΑΚΙΝΗΤΑ</span></div>
      </a>
    </li>

    <li class="side-menu-entry">
      <a href="#" class="entry-anchor-wrapper ">
      <i class="pr-icon sm agent-colored"></i>
      <div class="hidden-sm hidden-xs"><span>ΣΥΝΕΡΓΑΤΕΣ</span></div>
      </a>
    </li>
  </ul>
</nav>

